/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    // font-family: 'Rubik', 'Helvetica', 'Arial', sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 'Rubik', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
    line-height: 1.6;
}

@media screen and (max-width: 870px) {
    body {
        text-align: center;
    }
}


h1 {
    font-size: 44px;
    font-weight: 600;
    color: #FFFFFF;
    // text-shadow: 0px 1px 1px rgba(0,0,0,0.20);
}

@media screen and (max-width: 1040px) {
    h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 780px) {
    h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 28px;
    }
}

h2 {
    font-size: 26px;
    font-weight: 400;
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 22px;
    }
}

p {
    font-size: 18px;
    font-weight: 400;
}

@media screen and (max-width: 780px) {
    p {
        font-size: 16px;
    }
}

img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.feature img {
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.2);
}

/*.container {
    width: 100%;
    max-width: 1120px;
    padding: 0 40px;
    margin: 0 auto;
}*/

.col-full {
    width: 100%;
    max-width: 1120px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

@media screen and (max-width: 1040px) {
    .col-full {
        padding: 0 30px;
    }
}

@media screen and (max-width: 600px) {
    .col-full {
        padding: 0 30px;
    }
}

@media screen and (max-width: 600px) {
    .header .col-full {
        flex-flow: row wrap-reverse;
    }
}

.col {
    display: flex;
}

@media screen and (max-width: 870px){
    .col {
        max-width: 640px;
        margin-right: auto;
        margin-left: auto;
    }
}

.col-1-2 {
    flex: 1 1 50%;
    flex-direction: column;
}

@media screen and (max-width: 870px) {
    .col-1-2 {
        flex: 1 1 100%;
    }
}

.col-1-3 {
    flex: 1 1 30%;
    flex-direction: column;
}

@media screen and (max-width: 1040px){
    .col-1-3 {
        flex: 1 1 20%;
    }
}

.col-center {
    width: 100%;
    max-width: 640px;
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
}

.a-c {
    align-items: center;
}

.f-r {
    margin-left: auto;
}

@media screen and (max-width: 870px) {
    .reverse {
        flex-wrap: wrap-reverse;
    }
}

.header {
    padding: 125px 0;
    // background-color: #48D8D8;
    // background-color: #2ccece;
    background: linear-gradient(45deg, #2ccece 0%,#3acce5 100%);
}

@media screen and (max-width: 1040px) {
    .header {
        padding: 100px 0;
    }
}

@media screen and (max-width: 780px) {
    .header {
        padding: 80px 0;
    }
}

@media screen and (max-width: 500px) {
    .header {
        padding: 60px 0;
    }
}

.header p {
    font-size: 20px;
}

.logo {
    width: 238px;
    margin: auto;
}

.feature {
    padding: 125px 0 0 0;
}

@media screen and (max-width: 1040px) {
    .feature {
        padding: 100px 0 0 0;
    }
}

@media screen and (max-width: 870px){
    .feature .col-1-3 {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 780px) {
    .feature {
        padding: 80px 0 0 0;
    }

    .feature .col-1-3 {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 500px) {
    .feature {
        padding: 60px 0 0 0;
    }

    .feature .col-1-3 {
        margin-bottom: 40px;
    }
}

.gif {
    width: 100%;
    max-width: 480px;
}

@media screen and (max-width: 900px) {
    .gif {
        max-width: 460px;
    }
}

@media screen and (max-width: 870px) {
    .gif {
        margin: auto;
    }

    img {
        margin-right: auto;
        margin-left: auto;
    }
}

.soon a {
    text-decoration: none;
    color: #2ccece;
    transition: all 0.25s ease-in-out;
    border-bottom: 2px solid currentColor;
    border-color: transparent;
    padding-bottom: 0px;
}

.soon a:hover {
    color: #2ccece;
    border-color: #2ccece;
    padding-bottom: 2px;
    transition: all 0.25s ease-in-out;
}

.footer {
    padding-top: 100px;
}

.button {
    color: currentColor;
    background-color: currentColor;
    width: 206px;
    height: 50px;
    text-align: center;
    border-radius: 6px;
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    line-height: 50px;
}

@media screen and (max-width: 600px) {
    .button {
        width: 100%;
    }
}

.button:last-child {
    margin-right: 0;
}

.button-fill {
    background-color: #fff;
    opacity: .85;
    transition: all 0.25s ease-in-out;
}

.button-fill:hover {
    opacity: 1;
    transition: all 0.25s ease-in-out;
}

@media screen and (max-width: 600px) {
    .button-fill {
        display: none;
    }
}

.button-border {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    line-height: 46px;
    transition: all 0.25s ease-in-out;
}

@media screen and (max-width: 870px) {
    .button-border {
        position: relative;
    }
}

.button-border:hover {
    border: 2px solid rgba(255, 255, 255, 1);
    transition: all 0.25s ease-in-out;
}

.mb-small {
    margin-bottom: 10px;
}

.mb-medium {
    margin-bottom: 40px;
}

.blue {
    color: #135C5C;
}

.black {
    color: #3D464D;
}

.grey {
    color: #7A7A7A;
}

.light {
    color: rgba(255, 255, 255, 0.8)
}